@import "libs/reset.scss";
@import "libs/responsive.scss";
@import "libs/functions.scss";
$primary: rgb(105, 143, 214);
$padding: 20;
body {
    background: #fff;
    padding: 20px;
    font-family: sans-serif;
}

p {
    margin: 1rem;
}

.table {
    width: 100%;
    td {
        border: solid 1px #CCC;
    }
    thead {
        background: #000;
        color: #fff;
    }
}

.btn {
    background-color: $primary;
    &:hover {
        background-color: red;
    }
    .green-theme & {
        background-color: darkblue;
    }
}

.call-to-action {
    @extend .btn;
}

p {
    color: #CCC;
}

%btn {
    border-radius: 3px;
    text-decoration: none;
    padding: 5px 12px;
}

.btn2 {
    @extend %btn;
    background-color: blue;
    color: #fcf8f9;
    &:hover {
        background-color: darken(blue, 20);
    }
}

.btn-danger {
    @extend .btn2;
    background-color: red;
    &:hover {
        background-color: darken(red, 20);
    }
}

%shadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.card {
    @extend %shadow;
    padding: $padding;
    border-radius: 3px;
}

.card-actions {
    display: flex;
}

.card-action {
    @extend .btn2;
}

.card-cancel {
    @extend .btn-danger;
    @extend %shadow;
}

@media #{$medium-up} {
    .btn2 {
        width: 100%;
    }
}